#avatar {
    background: #E84A27;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.Img-Style {
    position: absolute;
    position: absolute; 
    z-index: 1;
}


.Classmate-Bio {
    background: #13294b;
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 3;
    
}

.Profile-Picture {
    width: 150px;
    height: 150px;
    position: relative;
    left: 125px;
    top: 10px;
    border-radius:50%
}

.Header-Text {
    color: white;
    text-align: center;
}

.Description-Text {
    color: white;
}

.button {
    background-color:white;
    width: 50px;
    height: 50px;
    border-radius:50%
  }
