.Room-Info {
    background: #13294b;
    width: 100%;
    height: 70px;
    position: absolute; 
    text-align: center;
}

.Basement-Floor {
    background: #13294b;
    width: 100%;
    height: 15%;
    position: absolute;  
    margin-top: 25%;  
}

.First-Floor {
    background: #13294b;
    width: 100%;
    height: 15%;
    position: absolute;  
    margin-top: 35%;  
}

.Second-Floor {
    background: #13294b;
    width: 100%;
    height: 15%;
    position: absolute;  
    margin-top: 45%;  
}

.Third-Floor {
    background: #13294b;
    width: 100%;
    height: 15%;
    position: absolute;  
    margin-top: 55%;  
}

.Fourth-Floor {
    background: #13294b;
    width: 100%;
    height: 17%;
    position: absolute;  
    margin-top: 65%;  
}

.Header-Text {
    color: white;
    text-align: center;
}

.Description-Text {
    color: white;
}


