.Room-Info {
    background: #13294b;
    width: 100%;
    height: 70px;
    position: absolute; 
    text-align: center;
}
.ClassOne-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 6%;  
    margin-left: 2%;
}

.ClassTwo-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 25%;  
    margin-left: 2%;
}

.ClassThree-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 44%;  
    margin-left: 2%;
}

.ClassFour-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 6%;  
    margin-left: 35%;
}

.ClassFive-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 25%;  
    margin-left: 35%;
}

.ClassSix-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 44%;  
    margin-left: 35%;
}

.ClassSeven-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 6%;  
    margin-left: 69%;
}

.ClassEight-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 25%;  
    margin-left: 69%;
}

.ClassNine-Info {
    background: #13294b;
    width: 400px;
    height: 260px;
    position: absolute;  
    margin-top: 44%;  
    margin-left: 69%;
}

.Header-Text {
    color: white;
    text-align: center;
}

.Description-Text {
    color: white;
}